.cool-button {
  background-color: #f26722;
  /* Warna latar belakang tombol */
  color: white;
  /* Warna teks tombol */
  padding: 10px 20px;
  /* Padding di dalam tombol */
  margin: 10px 0;
  /* Margin di luar tombol */
  border: none;
  /* Menghilangkan border tombol */
  cursor: pointer;
  /* Mengubah kursor menjadi pointer ketika mouse diarahkan ke tombol */
  width: 100%;
  /* Lebar tombol */
  opacity: 0.9;
  /* Opacity tombol */
  font-size: 16px;
  /* Ukuran font teks tombol */
  border-radius: 25px;
}

.cool-button:hover {
  opacity: 1;
}
